{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Saru</title>

    <link rel="icon" href="{% static 'images/avatar.png' %}" type="image/x-icon">
</head>
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<body>
    {% include 'section1.html' %}
    {% include 'section2.html' %}
    {% include 'section3.html' %}
    {% include 'section4.html' %}
</body>

<script src="{% static 'javascript/main.js' %}"></script>
</html>