{% load static %}
<link rel="stylesheet" href="{% static 'css/roller.css' %}">


<div id="roler" style="overflow: hidden;">
  <div class="img-ticker">
    <img class="tickerlogo" src="{% static 'images/logos/python.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/c.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/google.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/dj.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/js.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/linux.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/sql.png' %}">

    <img class="tickerlogo" src="{% static 'images/logos/python.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/c.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/google.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/dj.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/js.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/linux.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/sql.png' %}">

    <img class="tickerlogo" src="{% static 'images/logos/python.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/c.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/google.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/dj.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/js.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/linux.png' %}">
    <img class="tickerlogo" src="{% static 'images/logos/sql.png' %}">
  </div>
</div>