@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width: 600px) {
	#titre {
		font-size: 2em;
	    position: absolute; 
	    top: 10%; 
	    left: 10%; 
	    color: white;
	    font-weight: bold;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
	    animation: slideInLeft 1s ease forwards;
	}


	#description {
		font-size: 1.5em;
		position: absolute;
		top: calc(15% + 5px);
		left: 10%;
		transform: translateY(-50%);
	    color: white;
	    font-weight: initial;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    animation: slideInLeft 1s ease forwards;
	}

	#avatar{
		position: fixed;
		left: 10%;
	    max-width: 100%;
	    top: 30%;
	    max-height: 100%;
	    animation: slideInLeft 1s ease forwards;
	}
	.github {
	    background-image: url("../images/git.png");
	    background-color: transparent;
	    background-size: cover; 
	    background-position: center;
	    border: none; 
    	position: fixed; 
    	transform: translateY(-50%);
		top: calc(40% + 5px);
		left: 10%; 
	    width: 77px; 
	    height: 70px;
	    animation: slideInLeft 1s ease forwards;
	}
}
@media (min-width: 601px) {
	#titre {
		font-size: 3em;
	    position: absolute; 
	    top: 40%; 
	    left: 10%; 
	    color: white;
	    font-weight: bold;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
	    animation: slideInLeft 1s ease forwards;
	}


	#description {
		font-size: 2em;
		position: absolute;
		top: calc(47% + 5px);
		left: 10%;
		transform: translateY(-50%);
	    color: white;
	    font-weight: initial;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    animation: slideInLeft 1s ease forwards;
	}

	#avatar{
		position: fixed;
		left: 55%;
	    max-width: 100%;
	    max-height: 100%;
	    animation: slideInRight 1s ease forwards;
	}

	.github {
	    background-image: url("../images/git.png");
	    background-color: transparent;
	    background-size: cover; 
	    background-position: center;
	    border: none; 
    	position: fixed; 
    	transform: translateY(-50%);
		top: calc(60% + 5px);
    	left: 10%; 
	    width: 77px; 
	    height: 70px;
	    animation: slideInLeft 1s ease forwards;
	}


}

.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100vh); /* Commence en dehors de l'écran, sauf la première section */
}

#section1 {


  background:black; 
  transform: translateY(0vh); /* La première section est visible */
}

#section2 {
  background: rgb(43,43,43);
  background: linear-gradient(180deg, rgba(43,43,43,1) 0%); 
}

#section3 {
  background-color:  #E8F8F5;
}


.github:hover {
    opacity: 0.8; /* exemple de changement de l'opacité au survol */
}
